body {
    font-family: 'Open Sans', sans-serif;
    background: #ffffff;
}



.login-cover {
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 800;

    display: flex;
    justify-content: center;
    align-items: center;
}

.page-content {

    display: flex;
    justify-content: center;
    align-items: center;
}

.mdl-grid {
    display: flex;
    justify-content: center;
    align-items: center;
}


#login_progress {
    display: none;
}

#login_error {
    display: none;
}

@media (max-width: 800px) {

   
}

